
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>REST-WEB Reference</display-name>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>AppFilter</filter-name>
        <filter-class>it.bmed.app.filter.LoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AppFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
    <!-- CONIGURAZIONE DI AUTENTICAZIOINE -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>pages</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>users</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>users</role-name>
    </security-role>
    <!-- CONFIGURAZIONE PER CONDIVIDERE LA SESSIONE CON COHERENCE -->
    <context-param>
        <param-name>coherence-application-name</param-name>
        <param-value>DEMO!logginge2e-fe-jbus-refapp-web</param-value>
    </context-param>
    <context-param>
        <param-name>coherence-sessioncollection-class</param-name>
        <param-value>com.tangosol.coherence.servlet.TraditionalHttpSessionCollection</param-value>
    </context-param>
    <context-param>
        <param-name>coherence-scopecontroller-class</param-name>
        <param-value>com.tangosol.coherence.servlet.AbstractHttpSessionCollection$GlobalScopeController</param-value>
    </context-param>
    <context-param>
        <param-name>coherence-session-log-invalidation-exceptions</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- CALL EJB -->
    <env-entry>
        <env-entry-name>EJB-BE-Url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>t3://lxaib701.gbm.lan:8001</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>BACKEND-USERNAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>weblogic</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>BACKEND-PASSWORD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>weblogic1</env-entry-value>
    </env-entry>

    <!-- CALL WS -->
    <env-entry>
        <env-entry-name>OSB-ME-Url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://localhost:9001</env-entry-value>
    </env-entry>
    <!-- LOGBACK -->
    <env-entry>
        <env-entry-name>LOGBACK-CONFIG</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>./apps-properties/logback.xml</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>logback/context-name</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>logginge2e-fe-jbus</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>ARIA-PROTOCOL-TRACE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
</web-app>